html{
  width:100%;
  height:100%;
}
body{
  width:100%;
  height:100%;
  padding: 0; 
  margin: 0;
}

#map {
  height: 1024px; 
  background: #303b4d;
  height:100%;

}


#layerbar {
  width: 0%;
  vertical-align: top;
  background-color: #4682B4;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

.leaflet-grid-label .gridlabel-vert {
    margin-left: 8px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.leaflet-grid-label .gridlabel-vert,
.leaflet-grid-label .gridlabel-horiz {
    padding-left:2px;
    text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}

.toolbar-icon {
  width: 90%;
  height: 90%;
}